@using identity.Models
@using UI.MVC.Identity
@using UI.MVC.Models.Account
@using UI.MVC.Models.Shared
@model UI.MVC.Models.Shared.ConfirmStatusMessageModel
@{
    Layout = "_BackEndNavigation";

    var type = @Model.Type;
    var typeClass = ConfirmStatusMessageModel.NotificationType.TypeClasses[(byte) type];

    var projectName = ApplicationConstants.GetProjectName(ViewContext.RouteData);

    var breadCrumbs = new BreadcrumbsModel()
    {
        BreadcrumbItems = new List<(string IconClass, string Name, string Controller, string Action, string ExternalProjectName)>
        {
            new Tuple<string, string, string, string, string>("fa-solid fa-house", @projectName, "Project", "Index", @projectName).ToValueTuple(),
            new Tuple<string, string, string, string, string>("fa-solid fa-envelope", "E-mail bevestigd?", "Account", "ConfirmEmail", @projectName).ToValueTuple(),
        },
        ActiveItemIndex = 2
    };
}

<article class="container">
    <partial name="_Breadcrumbs" model="@breadCrumbs"/>

    <div class="alert alert-@typeClass mt-4" role="alert">
        <strong>@Model.Title</strong> @Model.Description
    </div>

</article>