@model UI.MVC.Models.AccountManage.ChangePasswordModel

@{
    Layout = "~/Views/AccountManage/_ProfilePagesLayout.cshtml";
}


<form id="change-password-form" asp-controller="AccountManage" asp-action="ChangePassword" method="post" enctype="multipart/form-data">

    <header class="profile-subpage-header">
        <h2 class="account-subpage-title">Wachtwoord Veranderen</h2>
        <button id="update-profile-button" type="submit" class="btn btn-success btn-profile-safe">Update Wachtwoord</button>
    </header>

    <div class="profile-inner">

        <!-- Section containing the basic information. -->
        <section class="profile-information-inner-container profile-inner-basic-info-container">
            <div class="input-main-wrapper">
                <div class="input-main-container">
                    <input asp-for="CurrentPassword" type="password" class="main-input" onkeyup="this.setAttribute('value', this.value);" required>
                    <label class="main-label main-label-required" asp-for="CurrentPassword" type="text"></label>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="input-main-wrapper">
                <div class="input-main-container">
                    <input asp-for="NewPassword" type="password" class="main-input" onkeyup="this.setAttribute('value', this.value);" required>
                    <label class="main-label main-label-required" asp-for="NewPassword" type="text"></label>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="input-main-wrapper">
                <div class="input-main-container">
                    <input asp-for="ConfirmNewPassword" type="password" class="main-input" onkeyup="this.setAttribute('value', this.value);" required>
                    <label class="main-label main-label-required" asp-for="ConfirmNewPassword" type="text"></label>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

        </section>

    </div>
    
    @*Bootstrap alert-box possibly containing a message.*@
    <div class="profile-confirm-message-container">

        <!-- Container for possible error messages. -->
        @if (ViewContext.ViewData.ModelState.ErrorCount > 0)
        {
            <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            @* bootstrap alert-box possibly displaying a message. *@
            <partial name="~/Views/Shared/_AccountConfirmation.cshtml" model="ViewBag.AccountConfirmation"/>
        }

    </div>

</form>

<!-- Bootstrap javascript. -->
<script src="~/dist/bootstrap_js.entry.js" defer></script>